/* 
    Created on : Jan 30, 2025, 7:05:30 AM
    Author     : Macjohnan
*/

:root{
    --ops-color-white: #fff;
    --ops-color-black: #000000;
    --ops-color-dark: #363949;
    --ops-color-dark-variant: #677483;
    --ops-color-gray-light:#6c757d;
    --ops-color-info-light: #dce1eb;
    --ops-color-info-dark: #78dda1;
    --ops-color-gray-dark:#343a40;
    --ops-color-background-faint:#20c99717;
    --ops-color-background-faint-active:#20c99780;
    --ops-color-background: #20c997;
    --ops-color-background-2:#f5f5f5;
    --ops-color-background-3:#f6f6f9;
    --ops-color-light:rgba(132, 139, 200, 0.18);
    --ops-box-shadow: 0 2rem 3rem var(--ops-color-light);
    --ops-color-faint-dropshadow: rgba(0, 0, 0, 0.05);
    
    --ops-button-green:#14694C;
    --ops-settings-pane:#171C21;
    --ops-settings-content-pane:#1E242B;
    --ops-app-background-color:#EBF6FA;
    --ops-sidebar-background:#292D31;
    --ops-container-background:#292929;
    --ops-card-background: #393E44;
    --ops-card-table-boarder:#292929;
}

*{
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}

html {
    font-size:14px;
    overflow:hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--bs-font-sans-serif);
    font-size:0.88rem;
    user-select: none;
    overflow:hidden;
}

a {
    color: var(--ops-color-dark);
    text-decoration: none;
}

.profile-photo {
    width:2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow:hidden
}

.ops-muted-text {
    color:var(--ops-color-info-dark);
}

.ops-base-container,
.ops-dashboard-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 18rem auto;
    background: var(--ops-container-background);
}

.ops-base-content,
.ops-dashboard-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ops-dashboard-content section {
    flex-grow: 1;
    height: 100%;
    display: grid;
    
    grid-template-rows: 4rem auto;
}

.ops-base-content section{
    flex-grow: 1;
    height: 100%;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 4rem auto;
}

.dashboard-welcome-container {
    display: flex;
    padding-left: 2px;
    padding-top: 5px;
    flex-direction: row;
}

.welcome-brand {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--ops-color-white);
}

.btn-user-settings {
    margin-top:5px;
    padding-left:10px;
    color:var(--ops-color-white);
    width: 50px;
    height: 45px;
    font-size:2rem;
    border: solid 1px var(--ops-color-background);
    border-radius: 50% 0 0 50% !important;
    overflow: hidden; 
    position: relative;
    background: var(--ops-button-green);
    transition:all .5s ease-in-out;
}

.btn-user-settings:hover {
    background:var(--ops-color-background);
    transition:all .5s ease-in-out;
}

.dashboard-chart-container {
    display: grid;
    grid-template-columns: auto 30rem;
    gap:0.8rem;
}

.right-chart-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ops-charts-drivers,
.ops-charts-members,
.ops-charts-employers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0.8rem;
    padding: 5px 5px 5px 20px;
}

.chart-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--ops-card-background);
    box-shadow: 
        0px 4px 8px rgba(0, 0, 0, 0.5),
        0px 1px 3px rgba(0, 0, 0, 0.3),
        0px 0px 0px 1px rgba(255, 255, 255, 0.07) inset;
}

.chart-card-content {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  position: relative;
  flex-grow: 1;
}

.chart-card-content::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 1px;
   height: 100%;
   background: linear-gradient(
        to bottom, 
        transparent 0%, 
        rgba(255, 255, 255, 0.15) 15%, 
        rgba(255, 255, 255, 0.15) 85%, 
        transparent 100%
  );
}

.chart-card-content h1 {
    flex-grow: 1;
    font-weight: 600;
    color: var(--ops-color-background-faint-active);
}

.chart-card-content span {
    font-size:1.3rem;
    font-weight: 400;
    color: #c3c3c3;
    justify-content: right;
    display: inline-block;
}

.chart-card-icon {
    display: inline-block;
    font-size: 5rem;
    width: 30%;
}

span.display-5.matches-table-header {
    font-size: 2rem;
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    color: #c3c3c3;
    border-bottom: solid 1px var(--ops-card-table-boarder);
}

.ops-selected-matches-container {
    width: 98.2%;
    cursor: pointer;
    margin: 5px 5px 5px 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    background: var(--ops-card-background);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(255, 255, 255, 0.07) 0px 0px 0px 1px inset;
}

table.matched-table {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 50px;
    transition: all .5s ease-in-out;
}

table.matched-table thead th {
    color: #c3c3c3;
    padding: 10px 15px;
    transition: all .5sease-in-out;
}

table.matched-table tbody td {
    height: 2.8rem;
    color: #c3c3c3;
    padding: 10px 15px;
    border-bottom: 1px solid var(--ops-card-table-boarder);
    transition: all .5sease-in-out;
}

table.matched-table tbody tr:first-child {
    border-top: 1px solid var(--ops-card-table-boarder);
}

table.matched-table,
table.matched-table tbody tr:last-child {
    border-bottom: none;
}

.ops-charts-recent {
    flex-grow: 1;
}

.chart-card-icon {
    display: inline-block;
    font-size: 5rem;
    width: 40%;
    cursor: pointer;
    color: var(--ops-color-background-faint-active);
    transition: all .5s ease-in-out;
}

.chart-card:hover .chart-card-icon,
.chart-card:hover span,
.chart-card:hover h1 {
    color:var(--ops-color-background);
    transition: all .5s ease-in-out;
}

/*----------------------------------side chart pane*/

.left-chart-container {
    z-index: 90;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    color: var(--ops-color-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 0px 0px 1px rgba(255, 255, 255, 0.07) inset;
}

.mini-chart-box {
    border-bottom: solid 1px #000;
    padding: 10px;
}

.mini-chart-box-head {
    margin: 15px 0;
}

span.display-5.box-head-span {
    font-size: 1.8rem;
}

.mini-chart-box-content {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    margin: 10px;
}

.box-content {
    display: flex;
    flex-direction: column;
}

.mini-chart-box-footer span{
    font-size: 1.2rem !important;
}

.box-span-1, 
.box-span-2, 
.box-span-3 {
    font-size: 1rem !important;
    display: flex;
    flex-direction: column;
}

span.display-5.box-span-2{
    font-size: 2rem !important;
    text-align: center;
    font-weight: 500;
    padding: 10px 0;
}

span.display-5.box-span-1,
span.display-5.box-span-3 {
    text-align: center;
    color: #6c757d;
    font-size: 1.5rem !important;
}

.box-content {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.box-content:not(:first-child) {
  position: relative;
  border-left: solid 1px #000;
}

.box-content:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,     /* Transparent at the top */
    rgba(0, 0, 0, 0.7) 15%,  /* More visible in the middle */
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0) 100%    /* Transparent at the bottom */
  );
  pointer-events: none; 
}

.mini-chart-box-footer span:first-child {
    color: var(--ops-color-background) !important;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px 0;
}

.mini-chart-box-footer span:last-child {
    color: #6c757d;
}

.mini-chart-box-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.mini-chart-box-footer span:first-child {
    color: var(--ops-color-background) !important;
    font-size: 1.2rem;
    font-weight: 800;
}

.ops-container {
    display: grid;
    width:96%;
    margin: 0 auto;
    grid-template-rows: 5rem auto;
    gap:1.8rem;
    /*grid columns: 14rem -side-bar, auto -main section*/
}

header.main-content-header {
    height: 74px;
    display: flex;
    flex-direction: row;
/*    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;*/
}

.user-initials {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right:30px;
    padding:5px;
    background: transparent;
    transition: all .5s ease-in-out;
}

.user-initials span{
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px 0 0 13px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align:justify;
    background: var(--ops-color-background);
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    border-radius: 50%;
}

.content-header-left {
    flex-grow: 1;
}

.content-header-right {
    color: var(--ops-color-white);
    width: 150px;
    display: flex;
    flex-direction: row;
}

.user-settings-slide {
    position: absolute;
    top: 0;
    right: -400px;
    height: 100%;
    width: 400px;
    z-index: 200;
    overflow: auto;
    border-left: solid 1px var(--ops-card-table-boarder);
    background-color: var(--ops-sidebar-background);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: right 0.4s ease;
}

.user-settings-slide-header {
    display: flex;
    flex-direction: row;
    height: 70px;
    border-bottom: solid 1px var(--ops-card-table-boarder);
}

.user-settings-brand {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin-left: 30px;
    padding-top: 20px;
}

.color-buttons {
    display: flex;
    flex-direction: column;
}

span.color-selected {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 30px;
}

.color-selected-container {
    padding: 20px 10px;
}

.color-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.theme-button-color-green,
.theme-button-color-red,
.theme-button-color-purple,
.theme-button-color-yellow,
.theme-button-color-aqua {
    width:50px;
    height: 50px;
    margin-right:10px;
}

.btn-green-clr,
.btn-red-clr,
.btn-purple-clr,
.btn-yellow-clr,
.btn-aqua-clr {
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.btn-green-clr {
    background:#20c997;
}

.theme-button-color-green.active-color {
    border: solid 3px #20c997!important;
    border-radius: 5px;
}

.theme-button-color-green.active-color .btn-green-clr {
    border: solid 3px #000!important;
    border-radius: 5px;
}

.btn-red-clr {
    background:#A80F4F;
}

.theme-button-color-red.active-color {
    border: solid 3px var(--ops-color-background)!important;
    border-radius: 5px;
}

.theme-button-color-red.active-color .btn-red-clr{
    border: solid 3px #000!important;
    border-radius: 5px;
}


.btn-purple-clr{
    background:#7B3FAB;
}

.theme-button-color-purple.active-color {
    border: solid 3px #7B3FAB!important;
    border-radius: 5px;
}

.theme-button-color-purple.active-color .btn-purple-clr{
    border: solid 3px #000!important;
    border-radius: 5px;
}

.btn-yellow-clr {
    background:#FFCD46;
}

.theme-button-color-yellow.active-color {
    border: solid 3px #FFCD46!important;
    border-radius: 5px;
}

.theme-button-color-yellow.active-color .btn-yellow-clr{
    border: solid 3px #000!important;
    border-radius: 5px;
}

.btn-aqua-clr {
    background: #0066CC;
}

.theme-button-color-aqua.active-color {
    border: solid 3px #0066CC!important;
    border-radius: 5px;
}

.theme-button-color-aqua.active-color .btn-aqua-clr{
    border: solid 3px #000!important;
    border-radius: 5px;
}

.btn-settings-close {
    color:var(--ops-color-white);
    width: 65px;
    font-size: 1.2rem;
    background: transparent;
    transition: all .3s ease-in-out;
}

.btn-settings-close:hover {
    color:var(--ops-color-background);
    transition: all .3s ease-in-out;
}

.show-user-settings {
    right: 0;
}

.hide-user-settings {
    right: -400px;
}

.theme-buttons {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.theme-selected {
    padding: 10px 20px;
    font-size: 1.5rem;
}

.theme-button-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.theme-button-container {
    display: flex;
    flex-direction: column;
}

.theme-button-box .theme-button-container:last-child {
    margin-left: 30px
}

.theme-button-container button {
    height: 70px;
    width: 100px;
    border: solid 1px #cecece;
}

button.btn-light-theme {
    margin-left: 20px;
    background: var(--ops-color-white);
}

button.btn-black-theme {
    background: var(--ops-color-gray-dark)
}

.theme-name-light, 
.theme-name-dark {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.active-theme {
    border:solid 5px #20c997!important;
}

.page-brand {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--ops-color-white);
    padding: 25px 0 0 15px;
    transition: all .3sease-in-out;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 250px;
    right: 0;
    height: 60px;
    color: #000;
    text-align: center;
    background: var(--ops-sidebar-background);
    padding: 15px;
    border-top: solid 1px var(--ops-color-dark);
    z-index: 85;
}

.shadow-text {
    color: #fff;
    font-size: 1.2em;
    background: var(--ops-sidebar-background);
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

/* Loader styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/*message boxes*/
.message-container {
    display: flex;
    width: 100%;
    margin: 0 15px;
    flex-direction: row;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 0 !important;
    border: 1px solid transparent;
    border-radius: .10rem;
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.alert span {
    display: inline-block;
    flex-grow: 1;
}

.alert button {
    font-size: 0.8em;
}

.alert-success {
    color: #28a745!important;
    background-color: #a8eab7!important;
    border-color: #28a745!important;
}

.alert-warning {
    color: #edb100!important;
    background-color: #fff3cd!important;
    border-color: #edb100!important;
}

.alert-info {
    color: #17a2b8!important;
    background-color: #a0e8f3!important;
    border-color: #17a2b8!important;
}

.alert-danger {
    color: #fc5056!important;
    background-color: #f7bbbe!important;
    border-color: #fc5056!important;
}

/*----------------------------------settings*/
.settings-main-container {
    width: 100%;
    height: 100%;
    background: transparent;
}

.settings-menu-container {
    width:300px;
}

.settings-content-container {
    flex-grow: 1;
}