/* 
    Created on : Jan 30, 2025, 7:05:30 AM
    Author     : Macjohnan
*/

:root{
    --ops-color-white: #fff;
    --ops-color-dark: #363949;
    --ops-color-dark-variant: #677483;
    --ops-color-gray-light:#6c757d;
    --ops-color-info-light: #dce1eb;
    --ops-color-info-dark: #78dda1;
    --ops-color-background-faint:#20c99717;
    --ops-color-background-faint-active:#20c99780;
    --ops-color-background: #20c997;
    --ops-color-background-2:#f5f5f5;
    --ops-color-background-3:#f6f6f9;
    --ops-color-light:rgba(132, 139, 200, 0.18);
    --ops-box-shadow: 0 2rem 3rem var(--ops-color-light);
    --ops-color-faint-dropshadow: rgba(0, 0, 0, 0.05);
}

*{
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}

html {
    font-size:14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--bs-font-sans-serif);
    font-size:0.88rem;
    background: var(--ops-color-background-3);
    user-select: none;
    overflow:hidden;
}

a {
    color: var(--ops-color-dark);
    text-decoration: none;
}

.profile-photo {
    width:2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow:hidden
}

.ops-muted-text {
    color:var(--ops-color-info-dark);
}

.ops-dashboard-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 18rem auto;
}

.ops-dashboard-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ops-dashboard-content section {
    flex-grow: 1;
    height: 100%;
    display: grid;
    
    grid-template-rows: 4rem auto;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 4rem auto;
}

.dashboard-welcome-container {
    display: flex;
    padding-left: 2px;
    padding-top: 5px;
    flex-direction: row;
}

.welcome-brand {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 2.7rem;
    font-weight: 400;
}

.btn-user-settings {
    margin-top:5px;
    padding-left:10px;
    color:var(--ops-color-white);
    width: 50px;
    height: 45px;
    font-size:2rem;
    border: solid 1px var(--ops-color-background);
    border-radius: 50% 0 0 50% !important;
    overflow: hidden; 
    position: relative;
    background:var(--ops-color-background);
}

.dashboard-chart-container {
    display: grid;
    grid-template-columns: auto 30rem;
    gap:2rem;
}

.right-chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ops-charts-drivers,
.ops-charts-members,
.ops-charts-employers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
    padding: 20px;
}

.chart-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.chart-card-content {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  position: relative;
  flex-grow: 1;
}

.chart-card-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #cecece 15%,
    #cecece 85%,
    transparent 100%
  );
}

.chart-card-content h1{
    flex-grow: 1;
}

.chart-card-content span {
    font-size:1.3rem;
    font-weight: 400;
    color: #cecece;
    justify-content: right;
    display: inline-block;
}

.chart-card-icon {
    display: inline-block;
    font-size: 5rem;
    width: 40%;
}

.driver-icon {
    
}

.ops-charts-recent {
    flex-grow: 1;
    background: tan;
}

.chart-card-icon {
    display: inline-block;
    font-size: 5rem;
    width: 40%;
    cursor: pointer;
    color: var(--ops-color-background-faint-active);
    transition: all .5s ease-in-out;
}

.chart-card:hover .chart-card-icon {
    color:var(--ops-color-background);
    transition: all .5s ease-in-out;
}

.left-chart-container {
/*    background: red;*/
}

.ops-container {
    display: grid;
    width:96%;
    margin: 0 auto;
    grid-template-rows: 5rem auto;
    gap:1.8rem;
    /*grid columns: 14rem -side-bar, auto -main section*/
}

header.main-content-header {
    height: 74px;
    display: flex;
    flex-direction: row;
/*    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;*/
}

.content-header-left {
    flex-grow: 1;
}

.page-brand {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #cecece;
    padding: 20px 0 0 15px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 250px;
    right: 0;
    height: 60px;
    color: #000;
    text-align: center;
    background: #fff;
    padding: 15px;
    border-top: solid 1px #e6e6e6;
    z-index: 85;
}

.shadow-text {
    color: transparent;
    background: #666666; 
    font-size: 1.2em;
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}


/* Loader styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/*message boxes*/
.message-container {
    display: flex;
    width: 100%;
    margin: 0 15px;
    flex-direction: row;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 0 !important;
    border: 1px solid transparent;
    border-radius: .10rem;
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.alert span {
    display: inline-block;
    flex-grow: 1;
}

.alert button {
    font-size: 0.8em;
}

.alert-success {
    color: #28a745!important;
    background-color: #a8eab7!important;
    border-color: #28a745!important;
}

.alert-warning {
    color: #edb100!important;
    background-color: #fff3cd!important;
    border-color: #edb100!important;
}

.alert-info {
    color: #17a2b8!important;
    background-color: #a0e8f3!important;
    border-color: #17a2b8!important;
}

.alert-danger {
    color: #fc5056!important;
    background-color: #f7bbbe!important;
    border-color: #fc5056!important;
}

.ops-content-container {
    
}